<section id="hero" class="hero d-flex align-items-center">

<div class="container">
     <div class="row">
         <div class="col-xl-4">
              <div data-sly-use.demo="com.nova.core.core.models.TextDes">
                <h2>${demo.title}</h2>
				<blockquote><p>${demo.description}</p></blockquote>
				   <div class="d-flex aos-init aos-animate">
                     <a href="#" class="btn-get-started">Get Started</a>
                  	 <a href="${demo.links}" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>${demo.linktext}</span></a>

				</div>

              </div>
         </div>

	 </div>
</div>

</section>